::-webkit-scrollbar {
    position: absolute;
    margin: 0 0 0 -12px;
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555555;
}

.f1 {
    flex: 1 !important;
}

.f2 {
    flex: 2 !important;
}

.f3 {
    flex: 3 !important;
}

.f4 {
    flex: 4 !important;
}

.f5 {
    flex: 5 !important;
}

.f6 {
    flex: 6 !important;
}

.f-1 {
    flex: calc(1 / 1) !important;
}

.f-2 {
    flex: calc(1 / 2) !important;
}

.f-3 {
    flex: calc(1 / 3) !important;
}

.f-4 {
    flex: calc(1 / 4) !important;
}

.f-5 {
    flex: calc(1 / 5) !important;
}

html, html body, html body div#container {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

html body {
    color: #fff;
    background-image: url("./images/bg.png");
    background-repeat: repeat;
    /* background-size: 32px 32px; */
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    word-spacing: 0px;
}

html body div#container {
    display: flex;
    position: absolute;
    background: rgba(15, 15, 15, 0.8);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
}