@import url("./default.css");
@import url("./fonts.css");

/* @viewport {
    zoom: 1;
    width: device-width;
} */

html body div#container div#content {
    display: flex;
    position: absolute;
    /* width: calc(100vw - 32px); */
    /* min-width: 340px; */
    /* width: calc(100vw / 1280 * 720); */
    /* max-width: 720px; */
    /* height: calc(100vh - 32px); */
    /* height: calc(100vh / 720 * 640); */
    /* border-radius: 16px; */
    /* background: rgba(255, 255, 255, 0.2); */
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 3;
}

@media only screen and (min-width: 960px) {
    html body div#container div#content {
        width: calc(100vw / 1280 * 720) !important;
        height: calc(100vh / 720 * 640) !important;
    }
}

@media only screen and (min-width: 640px) and (max-width: 960px) {
    html body div#container div#content {
        width: 540px !important;
        height: 540px !important;
    }
}

@media only screen and (max-width: 640px) {
    html body div#container div#content {
        /* width: calc(100vw - 100px) !important; */
        width: calc(100vw - 12px) !important;
        /* height: calc(100vh - 156px) !important; */
        height: calc(100vh - 24px) !important;

    }
}

html body div#container div#content::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("./images/city.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.8;
}

html body div#container div#content div#user-description {
    gap: 0 0;
    display: flex;
    position: absolute;
    width: calc(100% - 32px);
    /* border-radius: 16px; */
    height: calc(100% - 32px);
    color: #000;
    padding: 12px;
    backdrop-filter: blur(2px);
    background: rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    overflow: hidden;
    z-index: 4;
}

html body div#container div#content div#user-description ::-webkit-scrollbar {
    display: block;
}

html body div#container div#content div#user-description ::-webkit-scrollbar-track {
    background: rgba(242, 242, 242, 0.2);
}

html body div#container div#content div#user-description ::-webkit-scrollbar-track:hover {
    background: rgba(242, 242, 242, 0.4);
}

html body div#container div#content div#user-description ::-webkit-scrollbar-thumb {
    background: rgba(128, 128, 128, 0.6);
}

html body div#container div#content div#user-description ::-webkit-scrollbar-thumb:hover {
    background: rgba(88, 88, 88, 0.8);
}

html body div#container div#content div#user-description div.user-header-description {
    display: flex;
    position: relative;
    width: 100%;
    height: 64px;
    /* box-sizing: border-box; */
    /* border-bottom: 2px solid black; */
    padding-top: 16px;
    font-family: "Baskic8";
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    /* overflow: hidden auto; */
    /* z-index: 4; */
}

html body div#container div#content div#user-description div.user-header-description::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 12px;
    width: calc(100% - 128px);
    height: 2px;
    background-color: black;
}

html body div#container div#content div#user-description div.user-body-description {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    /* box-sizing: border-box; */
    gap: 0 0;
    align-items: flex-start;
    /* justify-content: space-evenly; */
    justify-content: center;
    flex-direction: initial;
    flex-wrap: wrap;
    /* overflow: hidden scroll; */
    overflow: hidden overlay;
    /* z-index: 4; */
}

html body div#container div#content div#user-description div.user-body-description div.user-photo {
    display: flex;
    position: relative;
    /* top: 128px;
    left: 64px; */
    width: 160px;
    height: 160px;
    margin: 12px 24px 12px 24px;
    /* margin: 12px 0 12px 0; */
    border: 4px dashed purple;
    /* border-radius: 50%; */
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    /* z-index: 5; */
}

html body div#container div#content div#user-description div.user-body-description div.user-photo img {
    width: 100%;
    /* z-index: 6; */
}

html body div#container div#content div#user-description div.user-body-description div.user-description {
    display: flex;
    position: relative;
    /* width: calc(100% - 160px - 48px - 24px); */
    width: 320px;
    height: auto;
    /* box-sizing: border-box; */
    font-family: "Baskic8";
    margin: 12px 24px 12px 24px;
    /* padding: 12px 0 0 0; */
    padding: 0;
    backdrop-filter: blur(6px);
    /* margin: 12px 0 12px 0; */
    /* background-color: #0f0; */
    background: rgba(255, 255, 255, 0.4);
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    /* overflow: hidden auto; */
    /* z-index: 4; */
}

html body div#container div#content div#user-description div.user-body-description div.user-description table {
    display: flex;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    /* word-wrap: normal; */
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

html body div#container div#content div#user-description div.user-body-description div.user-description table tbody {
    display: flex;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

html body div#container div#content div#user-description div.user-body-description div.user-description table tbody tr {
    display: flex;
    /* flex: 1; */
    width: 100%;
    height: 32px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-bottom: 2px solid green;
    /* background-color: skyblue; */
    align-items: center;
    justify-content: center;
    flex-direction: row;
    overflow: hidden;
}

html body div#container div#content div#user-description div.user-body-description div.user-description table tbody tr.header {
    padding-top: 8px;
    height: 46px !important;
    font-size: 12px !important;
    background-color: limegreen;
}

html body div#container div#content div#user-description div.user-body-description div.user-description table tbody tr td {
    display: flex;
    flex: 1;
    /* width: 100%; */
    height: 100%;
    margin: 0;
    padding: 8px 0 0 8px;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

html body div#container div#content div#user-description div.user-body-description div.user-schedule {
    display: flex;
    position: relative;
    /* width: calc(100% - 160px - 48px - 24px); */
    width: 528px;
    /* height: 528px; */
    height: auto;
    /* box-sizing: border-box; */
    font-family: "Baskic8";
    margin: 12px 24px 12px 24px;
    backdrop-filter: blur(6px);
    /* margin: 12px 0 12px 0; */
    /* background-color: #00f; */
    background: rgba(255, 255, 255, 0.4);
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    /* overflow: hidden auto; */
    /* z-index: 4; */
}

html body div#container div#content div#user-description div.user-body-description div.user-schedule table {
    display: flex;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

html body div#container div#content div#user-description div.user-body-description div.user-schedule table tbody {
    display: flex;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

html body div#container div#content div#user-description div.user-body-description div.user-schedule table tbody tr {
    display: flex;
    /* flex: 1; */
    width: 100%;
    height: 46px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-bottom: 2px solid green;
    /* background-color: skyblue; */
    align-items: center;
    justify-content: center;
    flex-direction: row;
    overflow: hidden;
}

html body div#container div#content div#user-description div.user-body-description div.user-schedule table tbody tr.header {
    padding-top: 8px;
    font-size: 12px !important;
    background-color: limegreen;
}

html body div#container div#content div#user-description div.user-body-description div.user-schedule table tbody tr td {
    display: flex;
    flex: 1;
    /* width: 100%; */
    height: 100%;
    margin: 0;
    padding: 8px 0 0 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}